body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#grid {
    width: 600px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    display: none;

}

img {
    width: 150px;
    height: 150px;
}

#startButton, #restartButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#startButton, #restartButton:active  {
    background-color: #45a049;
}


@media screen and (max-width: 810px) {
    #grid {
        width: 400px;
        height: 300px;
    }

    img {
        width: 100px;
        height: 100px;
    }
}