body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    
}
#grid {
    width: 600px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    display: none;

}

h3,  #counter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#counter {
    font-weight: bold;
    font-size: 1.15rem;
    
}

img {
    width: 150px;
    height: 150px;
}

#startButton, #restartButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#startButton, #restartButton:active  {
    background-color: #45a049;
}

#restartButton {
    display: none;
}

.text {
    color: black;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.typing {
    color: #4CAF50;
}

/* #counter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

@media screen and (max-width: 1065px) {
    .text {
        font-size: 40px;
    }
}

@media screen and (max-width: 810px) {
    #grid {
        width: 400px;
        height: 300px;
    }
    
    .text {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    #counter {
        font-size: 16px;
    }

    img {
        width: 100px;
        height: 100px;
    }
}